In [3]:
a=int(input('Enter your age:'))
print("The age is:",a)
print(id(a))
print(type(a))

Enter your age:25
The age is: 25
1806212820016
<class 'int'>

In [4]:
inputstring=input()
print('The input string is:',inputstring)
print(type(inputstring))

Dhermendra
The input string is: Dhermendra
<class 'str'>

In [6]:
print(pow(2,3))

8

In [7]:
print(ord('c'))

99

In [8]:
print(oct(10))

0o12

# Modules in Python

In [9]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [10]:
print(math.sqrt(256))

16.0

In [11]:
math.pi

3.141592653589793

In [12]:
print(math.pow(4,3))

64.0

In [13]:
import random
random.seed(2)
print(random.random())
print(random.random())

0.9560342718892494
0.9478274870593494

In [14]:
a=input("Enter your name:")
print("print on screen",a)

Enter your name:dhermendra
print on screen dhermendra

In [16]:
import calendar
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [17]:
c=calendar.month(2016,1)
print(c)

    January 2016
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [18]:
c=calendar.isleap(2021)
print(c)

False

In [19]:
import pandas as pd
a=['a','v','e','f']
df=pd.Series(a)
print(df)

0    a
1    v
2    e
3    f
dtype: object

# Palindrome in python

In [20]:
def pal(x):
    x1 = x[::-1]
    if x1 == x:
        print('palindrome')
    else:
        print('not a palindrome')
        
print(pal('madam'))

palindrome
None

In [21]:
def pal(x):
    x1 = x[::-1]
    if x1 == x:
        print('palindrome')
    else:
        print('not a palindrome')
        
print(pal('python'))

not a palindrome
None

# Factorial Program in Python

product of the integer desending

In [25]:
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
num=int(input("Enter a value"))
result=factorial(num)
print(result)

Enter a value5
120

# Fibonacci Series Program in Python

next term generated is the sum of preceding two terms

In [26]:
n=int(input("Enter the number of elements:"))
a=int(input("Enter the first element:"))
b=int(input("Enter the second element:"))
print(a,b,end=" ")
while n-2:
    c=a+b
    a=b
    b=c
    print(c,end=" ")
    n=n-1

Enter the number of elements:5
Enter the first element:1
Enter the second element:2
1 2 3 5 8

# Armstrong Number Program in Python

In [27]:
num=int(input("Enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
    print(num,"is a armstrong number")
else:
    print(num,"is not a armstrong number")

Enter the number:153
153 is a armstrong number

In [28]:
num=int(input("Enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
    print(num,"is a armstrong number")
else:
    print(num,"is not a armstrong number")

Enter the number:123
123 is not a armstrong number

# Python program to check odd/even

In [29]:
num=int(input("Enter the number:"))
if(num%2==0):
    print(num,"is a even number.")
else:
    print(num,"is a odd number.")

Enter the number:12
12 is a even number.

In [30]:
num=int(input("Enter the number:"))
if(num%2==0):
    print(num,"is a even number.")
else:
    print(num,"is a odd number.")

Enter the number:13
13 is a odd number.

# Python program to check leap year

In [31]:
y=int(input("Enter the year:"))
if(y%4==0):
    if(y%100==0):
        if(y%400==0):
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("not a leap year")
else:
    print("not a leap year")

Enter the year:1997
not a leap year

In [32]:
y=int(input("Enter the year:"))
if(y%4==0):
    if(y%100==0):
        if(y%400==0):
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("not a leap year")
else:
    print("not a leap year")

Enter the year:1990
not a leap year

In [34]:
y=int(input("Enter the year:"))
if(y%4==0):
    if(y%100==0):
        if(y%400==0):
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("not a leap year")
else:
    print("not a leap year")

Enter the year:2000
leap year

# Python Program to check prime number

In [36]:
num=int(input("Enter the number:"))
if num>1:
    for i in range(2,num):
        if(num%i==0):
            print(num,"is not a prime number .")
            print(num,"times",num//i,"is",num)
            break
    else:
            print(num,"is a prime number.")
else:
    print(num,"is not a prime number..")

Enter the number:7
7 is a prime number.

In [37]:
num=int(input("Enter the number:"))
if num>1:
    for i in range(2,num):
        if(num%i==0):
            print(num,"is not a prime number .")
            print(num,"times",num//i,"is",num)
            break
    else:
            print(num,"is a prime number.")
else:
    print(num,"is not a prime number..")

Enter the number:6
6 is not a prime number .
6 times 3 is 6

# python Program to print areas of shapes

In [39]:
import math
pi=math.pi
def circle(r):
    return pi*r**2
def cube(s):
    return 6*s**2
def cylinder(r,h):
    return 2*pi*r*h+2*pi*r**2
print(circle(5))
print(cube(6))
print(cylinder(5,10))

78.53981633974483
216
471.23889803846896

# Print Program to Reverse a list

In [40]:
list=[1,12,78,15,86,17]
print(list[::-1])

[17, 86, 15, 78, 12, 1]

In [41]:
list=['abc','xyz','afr']
list.reverse()
print(list)

['afr', 'xyz', 'abc']